<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<!--Estamos importando el componente principal-->
<!---->
<dom-module id="visor-menu">
  <template>
    <style>
    /*pseudo selector*/
      :host {
        display: block;
      }
    </style>

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./front/css/business-casual.min.css" rel="stylesheet">
    <link href="./front/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--Data binding one way prop1-->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
      <div class="container">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="/usuario">Home</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="/cuentas">Cuentas</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="/movimientos">Movimientos</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="/logout">Cerrar Sesión</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
     //Un componente web siempre extiende de Polymer.Element
    class VisorMenu extends Polymer.Element {
      static get is() { return 'visor-menu'; }
      //static para no instanciar, podemos definir las propiedades del componente web
      static get properties() {
        return {
          id: {
            type: String
          },
          first_name: {
            type: String
          },
          last_name: {
            type: String
          },
          email:{
            type:String
          },
          iban:{
            type:String
          }
        };
      }
        showData(data){
         //console.log(data);
         console.log("Recibidos datos del usuarios:");
         // mLab nos devuelve un array con el objeto solicitado por eso [0]
         console.log(data.detail.response[0]);
         console.log(data.detail.response[0].id);
         console.log(data.detail.response[0].first_name);
         console.log(data.detail.response[0].last_name);
         console.log(data.detail.response[0].email);


         this.id = data.detail.response[0].id;
         this.first_name = data.detail.response[0].first_name;
         this.last_name = data.detail.response[0].last_name;
         this.email = data.detail.response[0].email;
         //this.accounts = dataAccount.detail.response;
         }
       mostrarDatosRecibidos(data){
         console.log('Receptor '+JSON.stringify(data))
         //datosUser=JSON.stringify(data);
         console.log(" data.id "+data.id)
         this.id=data.id;
         console.log(data.id)
         this.$.getUser.generateRequest();
         console.log("pruebas "+this.id)
       }
    }
    //le decimos al navegador que queremos registrarlo en el navegador
    window.customElements.define(VisorMenu.is, VisorMenu);
  </script>
</dom-module>
