<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<!--Estamos importando el componente principal-->
<!---->
<dom-module id="login-usuario" >
 <!-- Plantilla del componente -->
 <template>
   <style>
     :host {
       display: block;
       text-align: center;
     }
     paper-card{
        width: 700px;
            padding: 24px;
            border-radius: 11px;
            margin: 250px 0px 250px 0px;
      }
      paper-button{
        background-color: var(--primary-color);
        color:white;
      }

.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.btn.btn-signin {
    /*background-color: #4d90fe; */
    background-color: rgb(13, 89, 171);
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 9px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
    width: 100%;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: rgb(42, 75, 125);
        cursor: pointer;
}

   </style>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
   <!-- Custom fonts for this template -->
   <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

   <!-- Custom styles for this template -->
   <link href="./front/css/business-casual.min.css" rel="stylesheet">
   <link href="./front/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
   <!--Data binding one way prop1-->
   <h1 class="site-heading text-center text-white d-none d-lg-block">
     <span class="site-heading-lower">BBVA Tech U</span>
   </h1>
   <paper-card elevation="3">
     <div class="card-header">
       <div class="alert alert alert-danger" hidden$="[[isUser]]">
         <strong>¡Usuario o contraseña incorrecta!</strong>
       </div>
         <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
     </div>
     <div class="card-content">
        <paper-input label="email" type="email" value="{{email::input}}"></paper-input>
        <paper-input label="password" type="password" value="{{password::input}}"></paper-input>
     </div>
     <div class="card-actions">
        <paper-button class="btn btn-lg btn-primary btn-block btn-signin" on-tap="login" raised>Ingresar</paper-button>
     </div>
   </paper-card>

   <iron-ajax
     id="doLogin"
     url="http://localhost:3005/colapi/v3/login"
     content-type="application/json"
     method="POST"
     handle-as="json"
     on-response="manageAJAXResponse"
     on-error="showError">


 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class LoginUsuario extends Polymer.Element {
     static get is() { return 'login-usuario'; }
     ready(){
       super.ready()
       //dolar accede al dom del componente emisor
       //cuando se lance el evento loginOK, se ejecuta el evento procesarLogin
       this.isLogged = ('true'==localStorage.getItem("loggin"));
     }
     static get properties() {
       return {
         email: {
           type: String
         }, password: {
           type: String
         }, isLogged: {
           type: Boolean,
           value: false
         }, isUser:{
           type:Boolean,
           value:true
         }

       };
     }
     login() {
       console.log("El usuario ha pulsado el botón.");
       var loginData = {
         "email" : this.email,
         "password" : this.password
       };
       // el $ para acceder a elemenos propios del shadow DOM (al iron-ajax)
       // convertimos el objeto JS a un JSON
       // el $ es por convención
       // body es una propiedad del iron-ajax
       this.$.doLogin.body = JSON.stringify(loginData);
       // hacemos petición con los datos del formulario del iron-ajax
       this.$.doLogin.generateRequest();

     }

     manageAJAXResponse(data) {
       console.log("Recibida respuesta del servidor");
       if(data.detail.response.msg=="Bienvenido"){
         this.isLogged = false;
           console.log("false"+data.detail.response.msg);
           localStorage.setItem("loggin", "true");
           localStorage.setItem("idUser", data.detail.response.id);
           this.dispatchEvent(new CustomEvent('loginOK',{detail:{isLogged:false, isLoggout:true, id:data.detail.response.id}}));
           window.location.href = "/usuario";
       }else{
         this.isLogged = true;
         console.log("true"+data.detail.response.msg);
         this.isUser=false;
       }
     }

     hacerLogin(data){
      //console.log(data);
      console.log("Emisor: he pulsado el boton");
      // mLab nos devuelve un array con el objeto solicitado por eso [0]
      this.dispatchEvent(new CustomEvent('loginOK',{detail:{isLogged:data.isLogged}}));
    }

     showError(error) {
       console.log("Hubo un error");
       console.log(error);
     }
   }
   window.customElements.define(LoginUsuario.is, LoginUsuario);
 </script>
</dom-module>
