<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<!--Estamos importando el componente principal-->
<!---->
<dom-module id="visor-movimientos">
  <template>
    <style>
    /*pseudo selector*/
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <!--Data binding one way prop1-->
    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./front/css/business-casual.min.css" rel="stylesheet">
    <link href="./front/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--Data binding one way prop1-->
    <h1 class="site-heading text-center text-white d-none d-lg-block">
      <span class="site-heading-lower">BBVA Tech U</span>
    </h1>
    <visor-menu></visor-menu>
    <section class="page-section cta">
    <div class="row">
      <div class="col-xs-3"></div>
      <div class="col-xs-6">
      <table class="table">
         <thead class="thead-dark">
           <tr>
             <th scope="col">Fecha</th>
             <th scope="col">Importe</th>
             <th scope="col">Iban</th>
           </tr>
         </thead>
         <template is="dom-repeat" id="movementsUser" items="{{movements}}">
             <tr>
                 <th scope="row">{{item.fecha}}</th>
                 <td>{{item.importe}}</td>
                 <td>{{item.IBAN}}</td>
           </tr>
         </template>
       </table>
     </div>
     <div class="col-xs-3"></div>
    </div>
     <!--Auto es para que se lance de forma automatica-->
     <iron-ajax
       auto=""
       id="getUser"
       url="http://localhost:3005/colapi/v3/movements/{{IBAN}}"
       handle-as="json"
       on-response="showData"></iron-ajax>
  </template>
</section>
  <script>
    /**
     * @customElement
     * @polymer
     */
     //Un componente web siempre extiende de Polymer.Element
    class VisorMovimientos extends Polymer.Element {
      static get is() { return 'visor-movimientos'; }
      ready(){
        super.ready()
        //dolar accede al dom del componente emisor
        //cuando se lance el evento loginOK, se ejecuta el evento procesarLogin
        if('true'==localStorage.getItem("loggin")){
          console.log('pruebas cuentas');
          this.isLogged = true;
          this.user_id=localStorage.getItem("idUser");
        }else{
          window.location.href = "/login";
        }
      }
      //static para no instanciar, podemos definir las propiedades del componente web
      static get properties() {
        return {
          id_Movimiento: {
            type: String,
          },
          fecha: {
            type: String
          },
          importe:{
            type:String
          },
          IBAN:{
            type:String,
            value:"DK96%206470%205808%207276%2047"
          },
          movements:{
            type:Array
          }
        };
      }
        showData(data){
         this.movements = data.detail.response;
       }
    }
    //le decimos al navegador que queremos registrarlo en el navegador
    window.customElements.define(VisorMovimientos.is, VisorMovimientos);
  </script>
</dom-module>
