<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<!--Estamos importando el componente principal-->
<!---->
<dom-module id="visor-footer">
  <template>
    <style>
    /*pseudo selector*/
      :host {
        display: block;
      }
      footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        color: white;
      }
    </style>
    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./front/css/business-casual.min.css" rel="stylesheet">
    <link rel="import" href="/src/visor-padre/visor-padre.html">
    <link href="./front/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
   <footer class="footer text-faded text-center py-5">
      <div class="container">
        <p class="m-0 small">Copyright &copy; Your Website 2018</p>
      </div>
    </footer>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
     //Un componente web siempre extiende de Polymer.Element
    class VisorFooter extends Polymer.Element {
      static get is() { return 'visor-footer'; }
      //static para no instanciar, podemos definir las propiedades del componente web
      static get properties() {
        return {
        };
      }
    }
    //le decimos al navegador que queremos registrarlo en el navegador
    window.customElements.define(VisorFooter.is, VisorFooter);
  </script>
</dom-module>
