<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<!--Estamos importando el componente principal-->
<!---->
<dom-module id="visor-usuario">
  <template>
    <style>
    /*pseudo selector*/
      :host {
        /*display: block;*/
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./front/css/business-casual.min.css" rel="stylesheet">
    <link href="./front/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--Data binding one way prop1-->
    <h1 class="site-heading text-center text-white d-none d-lg-block">
      <span class="site-heading-lower">BBVA Tech U</span>
    </h1>
    <visor-menu></visor-menu>
    <section class="page-section cta">

      <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-6">
          <div class="alert alert-success" hidden$="[[user_modify]]">
            <strong>¡Usuario modificado!</strong>
          </div>
          <form is="iron-form" id="formUsuario" >
            <h1 class="col-md-12">Datos Personales</h1>
          <div class="form-group">
              <label for="exampleInputEmail1" >Nombres</label>
              <input type="text" class="form-control" required value="{{first_name::input}}" id="nombre">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Apellidos</label>
              <input type="text" class="form-control" required value="{{last_name::input}}" id="apellido">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">E-mail</label>
              <!--<paper-input type="email" value="{{email::input}}"></paper-input>-->
              <input type="email" class="form-control" required value="{{email::input}}" id="email" aria-describedby="emailHelp">
            </div>
            <paper-button class="btn btn-lg btn-primary btn-block btn-signin" on-click="modificarUsuario" raised>Modificar</paper-button>
          </form>
        </div>
        <div class="col-xs-3"></div>
      </div>

</section>

     <!--Auto es para que se lance de forma automatica-->
     <iron-ajax
       id="getUser"
       url="http://localhost:3005/colapi/v3/users/[[id]]"
       handle-as="json"
       on-response="showData"></iron-ajax>

       <iron-ajax
        id="postUser"
        url="http://localhost:3005/colapi/v3/users/[[id]]"
        handle-as="json"
        loading="{{cargando}}"
        method="PUT"
        body=""
        content-type="application/json"
        on-response="showDataModify"></iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
     //Un componente web siempre extiende de Polymer.Element
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      ready(){
        super.ready()
        //dolar accede al dom del componente emisor
        //cuando se lance el evento loginOK, se ejecuta el evento procesarLogin
        if('true'==localStorage.getItem("loggin")){
          console.log('pruebas');
          this.isLogged = true;
          this.id=localStorage.getItem("idUser");
          console.log(this.id);
          this.$.getUser.generateRequest();
        }else{
          window.location.href = "/login";
        }
      }
      //static para no instanciar, podemos definir las propiedades del componente web
      static get properties() {
        return {
          id: {
            type: String
          },
          first_name: {
            type: String
          },
          last_name: {
            type: String
          },
          email:{
            type:String
          },
          iban:{
            type:String
          },
          user_modify:{
            type:Boolean,
            value:true
          }
        };
      }
        showData(data){
         //console.log(data);
         console.log('showData '+this.id)
         console.log("Recibidos datos del usuarios:");
         // mLab nos devuelve un array con el objeto solicitado por eso [0]
         this.id = data.detail.response[0].id;
         this.first_name = data.detail.response[0].first_name;
         this.last_name = data.detail.response[0].last_name;
         this.email = data.detail.response[0].email;
         }
         showDataModify(dataUser, req){
         //console.log(data);
         console.log("Recibidos datos del usuarios:");
         // mLab nos devuelve un array con el objeto solicitado por eso [0]
         console.log("1 "+req.status);
          if(req.status==201){
            this.first_name = dataUser.detail.response.first_name;
            this.last_name = dataUser.detail.response.last_name;
            this.email = dataUser.detail.response.email;
            this.user_modify=false;
            window.location.href = "/usuario";

          }
       }
       mostrarDatosRecibidos(data){
         console.log('Receptor '+JSON.stringify(data))
         //datosUser=JSON.stringify(data);
         console.log(" data.id "+data.id)
         this.id=data.id;
         console.log(data.id)
         this.$.getUser.generateRequest();
         console.log("pruebas "+this.id)
       }
       modificarUsuario(){
         console.log('modificar Usuario');
         var objUser = {
            first_name: this.first_name,
            last_name: this.last_name,
            email: this.email
          };
          console.log(objUser.first_name+' las '+ objUser.last_name);
          this.$.postUser.body = objUser;
          this.$.postUser.generateRequest();
       }
    }
    //le decimos al navegador que queremos registrarlo en el navegador
    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
