<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<!--Estamos importando el componente principal-->
<!---->
<dom-module id="logout-usuario" >
 <!-- Plantilla del componente -->
 <template is="dom-if" if="[[!isLogged]]">
   <style>
     :host {
       display: block;
       text-align: center;
     }

   </style>
   <!--<input type="email" placeholder="Email" value="{{email::input}}">
   <input type="password" placeholder="Password" value="{{password::input}}">
   <button class="btn btn-success" on-click="login">Login</button>-->
   <!-- $ por ser un atributo HTML en vez de un elemnto polymer
 <my-componente my-hidden = {{isLogged}}
 <span hidden$ =
 -->
 <!--on-tap sirve para movil y escritorio-->

   <iron-ajax
     id="doLogout"
     url="http://localhost:3005/colapi/v3/logout"
     content-type="application/json"
     method="POST"
     handle-as="json"
     on-response="manageAJAXResponse"
     on-error="showError">


 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class LogoutUsuario extends Polymer.Element {
     static get is() { return 'logout-usuario'; }
     ready(){
       super.ready()
       //dolar accede al dom del componente emisor
       //cuando se lance el evento loginOK, se ejecuta el evento procesarLogin
        window.location.href = "/login";
        localStorage.setItem("loggin", "false");
     }
     static get properties() {
       return {
         email: {
           type: String
         }, password: {
           type: String
         }, isLogged: {
           type: Boolean,
           value: false
         }
       };
     }
     login() {
       console.log("El usuario ha pulsado el botón.");
       var loginData = {
         "email" : this.email,
         "password" : this.password
       };
       // el $ para acceder a elemenos propios del shadow DOM (al iron-ajax)
       // convertimos el objeto JS a un JSON
       // el $ es por convención
       // body es una propiedad del iron-ajax
       this.$.doLogin.body = JSON.stringify(loginData);
       // hacemos petición con los datos del formulario del iron-ajax
       this.$.doLogin.generateRequest();

     }

     manageAJAXResponse(data) {
       console.log("Recibida respuesta del servidor");
       console.log(data.detail.response);
       if(data.detail.response.msg=="Bienvenido"){
         this.isLogged = false;
           console.log("false"+data.detail.response.msg);
           //data.isLogged=this.isLogged;
           console.log('guardarSesionEnLocalStorage');
           localStorage.setItem("loggin", "true");
           this.dispatchEvent(new CustomEvent('loginOK',{detail:{isLogged:false, isLoggout:true, id:data.detail.response.id}}));
           window.location.href = "/usuario";
       }else{
         this.isLogged = true;
         console.log("true"+data.detail.response.msg);
         //hacerLogin(data);
       }
     }

     hacerLogin(data){
      //console.log(data);
      console.log("Emisor: he pulsado el boton");
      // mLab nos devuelve un array con el objeto solicitado por eso [0]
      this.dispatchEvent(new CustomEvent('loginOK',{detail:{isLogged:data.isLogged}}));
    }

     showError(error) {
       console.log("Hubo un error");
       console.log(error);
     }
     /*guardarSesionEnLocalStorage: function() {
       console.console.log('guardarSesionEnLocalStorage');
        var valor = {
          "loggin":"true",
        };
        localStorage.setItem("json", JSON.stringify(valor));
      }*/

   }
   window.customElements.define(LogoutUsuario.is, LogoutUsuario);
 </script>
</dom-module>
