<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="/src/login-usuario/login-usuario.html">
<link rel="import" href="/src/visor-usuario/visor-usuario.html">
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="/src/visor-menu/visor-menu.html">
<link rel="import" href="/src/visor-footer/visor-footer.html">
<!--Estamos importando el componente principal-->
<!---->
<dom-module id="visor-padre">
  <template>
    <style>
    /*pseudo selector*/
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./front/css/business-casual.min.css" rel="stylesheet">
    <link href="./front/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <h1 class="site-heading text-center text-white d-none d-lg-block">
      <span class="site-heading-lower">BBVA Tech U</span>
    </h1>
    <!--Data binding one way prop1-->
    <visor-menu  > </visor-menu>
    <template is="dom-if" if="{{_isEqualTo('false', 'false')}}">
      <login-usuario id="login"></login-usuario>
    </template>
    <section class="page-section cta">

<visor-usuario hidden$="[[isLogged]]"></visor-usuario>
</section>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
     //Un componente web siempre extiende de Polymer.Element
    class VisorPadre extends Polymer.Element {
      static get is() { return 'visor-padre'; }
      ready(){
        super.ready()
        //dolar accede al dom del componente emisor
        //cuando se lance el evento loginOK, se ejecuta el evento procesarLogin
        console.log("pruebas "+this.isLogged)
        //this.isLogged = ('true'==localStorage.getItem("loggin"));
      }
      //static para no instanciar, podemos definir las propiedades del componente web
      static get properties() {
        return {
          isLogged: {
            type: Boolean,
            value: false
          }
        };
      };
      _isEqualTo(title, string){
         return title == string;
       }
    }
    //le decimos al navegador que queremos registrarlo en el navegador
    window.customElements.define(VisorPadre.is, VisorPadre);
  </script>
</dom-module>
